<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> < %= title%></title>
</head>
<body>
    <div>
        <a href="/">home</a>  
        <a href="/users/add">add new user</a>
        <a href="/users">all users list</a>
    </div>
    <h1> <%= title %></h1>
</body>
</html>